

form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    position: center;
    
    
    input {
      width: 100%;
      height: 50px;
      padding: 7px;
      outline: none;
      border-style: solid;
      cursor: pointer;
      border-radius: 5px;
      border: 3px solid rgb(0, 79, 226);
      &:focus {
        border: 2px solid rgb(69, 16, 112);
      }
    }
    textarea {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      max-height: 150px;
      min-height: 200px;
      padding: 5px;
      outline: none;
      border-radius: 5px;
      border: 3px solid rgb(0, 79, 226);
      
      &:focus {
        border: 2px solid rgb(69, 16, 112);
      }
    }
    label {
      margin-top: 1rem;
    }
    input[type="submit"] {
      margin-top: 2rem;
      cursor: pointer;
      max-width: 50%;
      position: center;
      margin-left: 25%;
      background: rgb(0, 79, 226);
      color: white;
      border: none;
      border-radius: 50px;
    }

    .message:hover {
      
        
        background-color: rgb(69, 16, 112);
      
    }
}

.copyright {
width: 100%;
padding: 2rem 0 0 0;

display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;

p {
    text-transform: uppercase;
    color: var(--black-color);
}
}



  .app__footer-cards {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  
  .app__footer-card {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
   

    transition: all 0.3s ease-in-out;
  }
  img {
      width: 40px;
      height: 40px;
      margin: 1rem 2rem 1rem;
      
    }

    p {
      font-weight: 500;
    }
    a {
      text-decoration: none;
      font-weight: 500;
    }
    &:hover {
      box-shadow: 0 0 25px #fef4f5;
    }
    @media screen and (max-width: 768px) {
    width: 100%;
    margin: 1rem 0;
  }
    @media screen and (max-width: 450px) {
      width: 100%;
    }

      @media screen and (max-width: 768px) {
    width: 100%;
  }

}